<div class="container about-hero d-flex flex-column">

  <div class="row align-items-center flex-grow-1">

    <div class="col-md-6 trans-up" data-aos="fade-up">
      <h1>About me</h1>
      <a href="https://drive.google.com/file/d/1U5_SkDrmZ67dpG5_wqBCuLt8_4fwdADn/view?usp=sharing" class="downloadcv">
        <i class="fa-solid fa-download"></i> Download CV
      </a>
      <p class="p-color col-11 mt-3">
        I am a passionate full-stack developer with a deep interest in building
        dynamic, user-friendly applications. With experience in both front-end
        and back-end technologies, I specialize in creating seamless digital
        experiences from concept to deployment. My technical toolkit includes
        <span class="fw-bold">HTML, CSS, JavaScript, React and Angular</span> for the
        front end, while utilizing <span class="fw-bold">Laravel, PHP</span>,
        and databases like <span class="fw-bold">MySQL</span> for back-end
        development.
      </p>
    </div>

    <div class="col-md-6 text-center pt-4 pt-md-0">
      <img src="assets/images/me.jpg" alt="Mahmoud Abdelnaby" class="profile-img" />
    </div>

  </div>

  <div class="text-center py-3">
    <a routerLink="/projects" class="text-light arrow">
      <i class="fa-solid fa-chevron-down"></i>
    </a>
  </div>

</div>

<app-indicator></app-indicator>