<div class="container works-hero d-flex flex-column">

  <div class="row align-items-center flex-grow-1">

    <div class="col-md-6 trans-up" data-aos="fade-up">
      <h1>Latest works</h1>
      <a href="/works" class="downloadcv">
        <i class="fa-solid fa-code"></i> View more works
      </a>
      <div class="works-grid mt-4">
        <div class="card">
          <a href="https://ra7tak-ca04a.web.app/home">
            <img src="assets/images/work1.png" alt="Work 1" />
          </a>
        </div>
        <div class="card">
          <a href="https://abdelnaby0.github.io/Shokran/">
            <img src="assets/images/work2.png" alt="Work 2" />
          </a>
        </div>
        <div class="card">
          <a href="https://abdelnaby0.github.io/TaskFlow/">
            <img src="assets/images/work7.png" alt="Work 3" />
          </a>
        </div>
        <div class="card">
          <a href="https://smart-classroom-delta.vercel.app/">
            <img src="assets/images/work8.png" alt="Work 4" />
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 text-center pt-4 pt-md-0">
      <img src="assets/images/me.jpg" alt="Mahmoud Abdelnaby" class="profile-img" />
    </div>

  </div>

  <div class="text-center py-3">
    <a routerLink="/contact" class="text-light arrow">
      <i class="fa-solid fa-chevron-down"></i>
    </a>
  </div>

</div>

<app-indicator></app-indicator>