<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid justify-content-between text-center">
    <a class="navbar-brand trans-down text-light w-100p ms-sm-0 m-auto" href="#"><img
        src="../../../assets/images/after2.png" alt="" class="w-100 ms-sm-3 ps-2 m-auto" /></a>
    <div class="me-sm-1 m-auto trans-down">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item text-light">
          <a class="nav-link active text-light" aria-current="page"
            href="https://mail.google.com/mail/?view=cm&fs=1&to=mahmoudm.abdelnabyy@gmail.com">
            <div class="row text-sm-end text-center">
              <div class="col-12 sec-text fw-bold">Contact me</div>
              <div class="col-12 main-text">mahmoudm.abdelnabyygmail.com</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>