<div class="container works-page py-5">

  <div class="trans-up" data-aos="fade-up">

    <a href="/projects" class="goback">
      <i class="fa-solid fa-arrow-left"></i> Go Back
    </a>

    <h1>All works</h1>

    <div class="works-grid mt-4">

      <div class="card">
        <a href="https://smart-classroom-delta.vercel.app/">
          <img src="assets/images/work8.png" alt="Smart Classroom" />
          <div class="card-overlay">
            <span>Smart Classroom</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://ra7tak-ca04a.web.app/home">
          <img src="assets/images/work1.png" alt="Ra7tak" />
          <div class="card-overlay">
            <span>Ra7tak</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://abdelnaby0.github.io/Shokran/">
          <img src="assets/images/work2.png" alt="Shokran" />
          <div class="card-overlay">
            <span>Shokran</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://abdelnaby0.github.io/sonic/">
          <img src="assets/images/work3.png" alt="Sonic" />
          <div class="card-overlay">
            <span>Sonic</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://abdelnaby0.github.io/covid19/">
          <img src="assets/images/work4.png" alt="Covid19" />
          <div class="card-overlay">
            <span>Covid19</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://abdelnaby0.github.io/sigma/">
          <img src="assets/images/work5.png" alt="Sigma" />
          <div class="card-overlay">
            <span>Sigma</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://abdelnaby0.github.io/Blog/">
          <img src="assets/images/work6.png" alt="Blog" />
          <div class="card-overlay">
            <span>Blog</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="https://abdelnaby0.github.io/TaskFlow/">
          <img src="assets/images/work7.png" alt="TaskFlow" />
          <div class="card-overlay">
            <span>TaskFlow</span>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>