<div class="container contact-hero d-flex flex-column">

  <div class="row align-items-center flex-grow-1">

    <div class="col-md-6 trans-up" data-aos="fade-up">
      <h1>Say hello!</h1>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=mahmoudm.abdelnabyy@gmail.com" class="downloadcv">
        <i class="fa-solid fa-envelope"></i> Write an E-mail
      </a>
      <p class="p-color mt-3">
        Open to work, <br />
        Feel free and drop me an email
      </p>
    </div>

    <div class="col-md-6 text-center pt-4 pt-md-0">
      <img src="assets/images/me.jpg" alt="Mahmoud Abdelnaby" class="profile-img" />
    </div>

  </div>

  <div class="text-center py-3">
    <a routerLink="/skills" class="text-light arrow">
      <i class="fa-solid fa-chevron-down"></i>
    </a>
  </div>

</div>

<app-indicator></app-indicator>