<div class="container hero d-flex flex-column">

  <div class="row align-items-center flex-grow-1">

    <div class="col-md-6 trans-left">

      <div class="social-links-row">
        <a href="https://www.facebook.com/AbdelnabyX0" class="social-link">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://github.com/Abdelnaby0" class="social-link">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/mahmoud-abdelnaby-88a85a267/" class="social-link">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="tel:+201029974804" class="social-link phone-link">
          <i class="fa-solid fa-phone"></i>
          <span class="phone-number">+20 102 997 4804</span>
        </a>
      </div>

      <h1>
        Hi, I'm Mahmoud <br>
        Fullstack Developer
      </h1>

    </div>

    <div class="col-md-6 text-center pt-4 pt-md-0 trans-right">
      <img src="assets/images/me.jpg" class="profile-img" alt="Mahmoud Abdelnaby" />
    </div>

  </div>

  <div class="text-center py-3">
    <a routerLink="/about" class="text-light arrow">
      <i class="fa-solid fa-chevron-down"></i>
    </a>
  </div>

</div>

<app-indicator></app-indicator>