<div class="selectors justify-content-md-center justify-content-end">
  <div class="selector">
    <a routerLink="/home" [routerLinkActive]="'active'" class="dot"></a>
  </div>
  <div class="selector">
    <a routerLink="/about" [routerLinkActive]="'active'" class="dot"></a>
  </div>
  <div class="selector">
    <a routerLink="/projects" [routerLinkActive]="'active'" class="dot"></a>
  </div>
  <div class="selector">
    <a routerLink="/contact" [routerLinkActive]="'active'" class="dot"></a>
  </div>
  <div class="selector">
    <a routerLink="/skills" [routerLinkActive]="'active'" class="dot"></a>
  </div>
</div>
